{% extends 'main-template.html' %}
{% load static %}

{% block content %}
<div class="form-list__main">
  <input type="text" name="formSearch" oninput="searchDelivery()" id="formSearch" placeholder="Search" autocomplete="off"/>
  <select class="form__size-s cmbFormSearch" id="cmbFormSearch">
    <option value=""></option>
    <option value="delivery_no">Delivery Note No</option>
    <option value="customer_name">customer Name</option>
    <option value="delivery_date">Date</option>
  </select>
  <table class="form-list__table">
    <thead class="table-head bg-amber-500 h-10">
      <tr class="bg-gray-400">
        <th class="w-1/25">#</th>
        <th class="w-1/7">Delivery Note No</th>
        <th class="w-1/7">Date</th>
        <th class="w-1/3">customer Name</th>
        <th class="w-1/7">Net Amount</th>
      </tr>
    </thead>
    <tbody id="tbl__body">
      {% for value in values %}
      <tr class="form-list__contents">
        <td class="py-2"><p class="text-black font-semibold text-base">{{ forloop.counter }}</p></td>
        <td class="py-2"><a href="{% url 'deliveryNote_with_id' value.id %}"><p class="text-black font-semibold text-base">{{ value.delivery_note_no }}</p></a></td>
        <td class="py-2"><p class="text-black font-semibold text-base">{{ value.delivery_note_date }}</p></td>
        <td class="py-2"><a href="{% url 'deliveryNote_with_id' value.id %}"><p class="text-black font-semibold text-base">{{ value.customer.customer_name }}</p></a></td>
        <td class="py-2"><p class="text-black font-semibold text-base">{{ value.net_amount }}</p></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
      


<script type="text/javascript" src="{% static 'js/sales.js' %}"></script>
{% endblock content %}