{% extends 'main-template.html' %}
{% load static %}

{% block content %}
<form method="POST" class="form__form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form__content">
      <h1>Salesman</h1>
      <div class="floating-input-group">
        {{ form.salesman_code }}
        <label class="floating-label">Salesman Code</label>
      </div>
      <div class="floating-input-group">
        {{ form.salesman_name }}
        <label class="floating-label">Salesman Name</label>
      </div>
      <div class="form__grp">
        <div class="floating-input-group">
          {{ form.passport_no }}
          <label class="floating-label">Passport No</label>
        </div>
        <div class="floating-input-group">
          {{ form.passport_expiry }}
          <label class="floating-label">Passport Expiry</label>
        </div>
      </div>
      <div class="form__grp">
        <div class="floating-input-group">
          {{ form.visa_no }}
          <label class="floating-label">Visa No</label>
        </div>
        <div class="floating-input-group">
          {{ form.visa_expiry }}
          <label class="floating-label">Visa Expiry</label>
        </div>
      </div>
      <div class="form__grp">
        <div class="floating-input-group">
          {{ form.health_insurance }}
          <label class="floating-label">Health Insurance</label>
        </div>
        <div class="floating-input-group">
          {{ form.health_insurance_expiry }}
          <label class="floating-label">Health Insurance Expiry</label>
        </div>
      </div>
      <div class="form__grp">
        <div class="floating-input-group">
          {{ form.salary }}
          <label class="floating-label">Salary</label>
        </div>
        <div class="floating-input-group">
          {{ form.mobile }}
          <label class="floating-label">Mobile</label>
        </div>
      </div>
      <div class="floating-input-group">
        {{ form.address }}
        <label class="floating-label">Address</label>
      </div>
      <div class="floating-input-group">
        {{ form.email }}
        <label class="floating-label">Email</label>
      </div>
      <div class="form__btn-sub-cancel">
        <input id="form__btn-submit" type="submit" value="Save" class="form__btn-submit">
        <button id="form__btn-cancel" type="button" class="form__btn-cancel" onclick="location.href='{% if id %}{% url 'salesman_with_id' id %}{% else %}{% url 'salesman' %}{% endif %}'">Cancel</button>
      </div><br>
      {% for message in messages %}
        <p class="form__error">{{ message }}</p>
      {% endfor %}
    </div>
</form>


{% endblock content %}