{% extends 'main-template.html' %}
{% load static %}

{% block content %}
<form method="POST" class="form__form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form__content">
      <h1>Payment</h1>
      <div class="form__grp">
        <div class="floating-input-group">
          {{ form.payment_no }}
          <label class="floating-label">Payment No</label>
        </div>
          <div class="floating-input-group">
            {{ form.payment_date }}
            <label class="floating-label">Date</label>
          </div>
        </div>
        <div class="form__grp">
          <div class="floating-input-group">
            {{ form.payment_method }}
            <label class="floating-label">Payment Method</label>
          </div>
          <div class="grp-vendor">
            <label for="vendor">vendor</label>
            <input onchange="vendor_toChange()" type="checkbox" id="vendor_to" name="vendor" value="1" checked />
          </div>
        </div>
      <div class="floating-input-group vendor-field">
        {{ form.vendor }}
        <input id="vendor" class="form__size-l floating-input uppercase-only" placeholder=" " autocomplete="off" onblur="vendor_leave()" value="{{vendor.vendor_name}}"></input>
        <label class="floating-label">Vendor</label>
      </div>
      <div class="floating-input-group to-field" style="display: none">
        {{ form.payment_to }}
        <label class="floating-label">Payment To</label>
      </div>
      <div class="form__grp">
      <div class="floating-input-group">
        {{ form.amount }}
        <label class="floating-label">Amount</label>
      </div>
        <div class="floating-input-group" id="discount-grp">
          {{ form.discount }}
          <label class="floating-label">Discount</label>
        </div>
        <div class="floating-input-group" id="credit_balance-grp">
          <input id="credit_balance" class="form__size-s floating-input uppercase-only disabled-input" placeholder=" " autocomplete="off" value="{{vendor.credit_balance}}"></input>
          <label class="floating-label">credit balance</label>
        </div>
      </div>
      <div class="form__btn-sub-cancel">
        <input id="form__btn-submit" type="submit" value="Save" class="form__btn-submit" onclick="savePaymentOrReceipt(event, 'payment', {{ id }})">
        <button id="form__btn-cancel" type="button" class="form__btn-cancel" onclick="location.href='{% if id %}{% url 'payment_with_id' id %}{% else %}{% url 'payment' %}{% endif %}'">Cancel</button>
      </div><br>
      {% for message in messages %}
        <p class="form__error">{{ message }}</p>
      {% endfor %}
    </div>
</form>

<script type="text/javascript" src="{% static 'js/payment.js' %}"></script>
<style>
.grp-vendor {
  margin-right: 1.5rem;
}

.grp-vendor label {
  margin-top: 1rem;
}

.grp-vendor input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  transition: background-color 0.3s;
}

.grp-vendor input[type="checkbox"]:checked {
  background-color: #007bff;
}

.grp-vendor input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translateY(50%);
}
</style>
{% endblock content %}