{% extends 'main-template.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<form method="POST" class="form__form" enctype="multipart/form-data">
{% csrf_token %}
<div class="form__content">
  <h1>Sales</h1>
  <div class="form__grp">
    <div class="floating-input-group">
      {{ form.invoice_no|add_class:form.disabled_class }}
      <label class="floating-label">Invoice No</label>
    </div>
    <div class="floating-input-group">
      {{ form.invoice_date }}
      <label class="floating-label">Invoice Date</label>
    </div>
  </div>
  <div class="form__grp">
    <div class="floating-input-group">
        {{ form.total }}
        <label class="floating-label">Total</label>
    </div>
    <div class="floating-input-group">
        {{ form.vat }}
        <label class="floating-label">VAT</label>
    </div>
    <div class="floating-input-group">
      {{ form.discount }}
      <label class="floating-label">Discount</label>
    </div>
  </div>
  
  <div class="form__grp">
      <div class="floating-input-group">
        {{ form.roundoff }}
        <label class="floating-label">RoundOff</label>
      </div>
    <div class="floating-input-group">
        {{ form.net_amount }}
        <label class="floating-label">Net Amount</label>
    </div>
    <div class="floating-input-group">
        {{ form.amount_received }}
        <label class="floating-label">Amount Received</label>
    </div>
    </div>
    <div class="form__grp">
  <div class="floating-input-group">
    {{ form.balance }}
    <label class="floating-label">Balance</label>
  </div>
  <div class="floating-input-group">
    {{ form.payment_method }}
    <label class="floating-label">Payment Method</label>
  </div>
  </div>
    <div class="floating-input-group">
      {{ form.customer }}
      <input id="master_customer" class="form__size-l floating-input uppercase-only" placeholder=" " autocomplete="off"></input>
      <label class="floating-label">Customer</label>
    </div>
    <div class="floating-input-group">
      {{ form.salesman }}
      <input id="master_salesman" class="form__size-l floating-input  uppercase-only" placeholder=" " autocomplete="off"></input>
      <label class="floating-label">Salesman</label>
    </div>
  <div class="form__btn-sub-cancel">
    <input id="form__btn-submit" type="submit" value="Save" class="form__btn-submit" onclick="save_sales(event, false)">
    <button id="form__btn-cancel" type="button" class="form__btn-cancel" onclick="location.href='{% url 'sales' %}'">Cancel</button>
  </div><br>
  {% for message in messages %}
    <p class="form__error">{{ message }}</p>
  {% endfor %}
</div>


<div class="form__content  mt-9">
  <table class="form__tbl" id="form__tbl">
    <thead class="table-head bg-amber-500 h-10">
      <tr class="bg-gray-400">
        <th class="w-1/25">#</th>
        <th class="w-1/6">Product</th>
        <th class="w-1/6">Unit</th>
        <th class="w-1/8">stock</th>
        <th class="w-1/8">Qty</th>
        <th class="w-1/8">Price</th>
        <th class="w-1/8">VAT%</th>
        <th class="w-1/8">VAT</th>
        <th class="w-1/8">Discount</th>
        <th class="w-1/7">Total</th>
      </tr>
    </thead>
    <tbody id="tbl__body">
      <tr class="form__details-contents" id="row1">
        <td class="py-2 tbl_sl" id="tbl_sl_1">1</td>
        <td class="py-2 tbl_product uppercase-only" contenteditable="true" id="tbl_product_1"></td>
        <td class="py-2 tbl_product_id" id="tbl_product_id_1" hidden></td>
        <td class="py-2 tbl_unit">
          <select id="tbl_unit_1" onchange="unit_stock_change(1)">
          </select>
        </td>
        <td class="py-2 tbl_stock" id="tbl_stock_1"></td>
        <td class="py-2 tbl_qty" oninput='qtyChange(1)' contenteditable="true" id="tbl_qty_1"></td>
        <td class="py-2 tbl_price" contenteditable="true" id="tbl_price_1"></td>
        <td class="py-2 tbl_vat_perc" id="tbl_vat_perc_1"></td>
        <td class="py-2 tbl_vat" id="tbl_vat_1"></td>
        <td class="py-2 tbl_discount" contenteditable="true" id="tbl_discount_1"></td>
        <td class="py-2 tbl_total" id="tbl_total_1"></td>
      </tr>
    </tbody>
  </table>
</div>
</form>


<script type="text/javascript" src="{% static 'js/sales.js' %}"></script>
<script>
  function qtyChange(rowCounter) {
    var stock = decimal_2($(`#tbl_stock_${rowCounter}`).text());
    var qty = decimal_2($(`#tbl_qty_${rowCounter}`).text());
    if (qty > stock) {
      $(`#tbl_qty_${rowCounter}`).text(stock)
    }
    tblTotal(rowCounter);
  }
</script>


<style>
  .tbl_unit {
    padding: 0;
  }

  .tbl_unit select{
    height: 3vh;
    width: 100%;
    margin-top: -1rem;

    outline: none;
    border: none; 
  }
</style>
{% endblock content %}