{% load static %}


<!-- start navbar -->
<div class="md:fixed md:w-full md:top-0 md:z-20 flex flex-row justify-between flex-wrap items-center bg-white p-6 border-b border-gray-300 navbar__main">
    
    <!-- logo -->
    <div class="flex-none w-56 flex flex-row items-center">
      <a href="{% url 'home' %}" style="text-decoration: none; color: inherit; display: inline-flex; align-items: center;">
        <img src="{% static 'img/logo.svg' %}" class="w-10 flex-none">
        {% comment %} <strong class="capitalize ml-1 flex-1">ERP</strong> {% endcomment %}
    </a>

    </div>
    <!-- end logo -->   

    <!-- navbar content toggle -->

    <div id="navbarToggle" class="hidden md:flex justify-between md:fixed right-0 mr-6">

        
      <a href="#"><button class="menu-btn focus:outline-none focus:shadow-outline flex flex-wrap items-center">
        <div class="w-8 h-8 overflow-hidden rounded-full">
          <img class="w-full h-full object-cover" src="{% static 'img/user.svg' %}" >
        </div> 

        <div class="ml-2 capitalize flex flex-col text-start ">
          <h1 class="text-sm text-gray-800 font-semibold m-0 p-0 leading-none">{{request.user.username}}</h1></a>
          
        </div>                        
      </button>
      <a class="px-4 py-2 ml-4 block capitalize font-medium text-sm tracking-wide bg-white border-2 rounded-lg hover:bg-gray-200 hover:text-gray-900 transition-all duration-300 ease-in-out" href="{% url 'logout' %}">
        log out
      </a>
    </div>

  </div>
<!-- end navbar -->