{% extends 'login-template.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock style %}

{% block content %}
  <form class="login__form" method="POST" action="">
      {% csrf_token %}
        <h1>SIGN UP</h1>
        <input autofocus required type="text" name="username" placeholder=" username" autocomplete="off" value={{username}}>
        <input required type="email" name="email" placeholder=" Email" autocomplete="off" value={{email}}> 
        <input required type="password" name="password" placeholder=" Password" autocomplete="off">
        <input type="submit" name="" id="" value="Sign Up">
        {% for message in messages %}
            <p class="mb-2 text-xs text-red-500">{{message}}</p>
        {% endfor %}
        <p class="text-black opacity-70 mt-3">Already have an Account ?<span><a class="text-gray-500 ml-2 hover:text-gray-600 font-semibold" href="{% url 'login' %}">Login</a></span> </p>
    </form>
{% endblock content %}