{% load static %}
<aside class="sidebar__main">
  <!-- Sidebar navigation-->
    <ul class="sidebar__group">

      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'category' %}" aria-expanded="false">
          <span style="margin-top: 3.5px">
            <img src="{% static 'img/category.svg'%}" alt="Icon description" width="18" height="18">
          </span>
          <span class="sidebar__title">Category</span>
        </a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'salesman' %}" aria-expanded="false">
          <span style="margin-top: 1.5px">
            <img src="{% static 'img/salesman.svg'%}" alt="Icon description" width="20" height="20">
          </span>
          <span class="sidebar__title">Salesman</span>
        </a>
      </li>

    </ul>



    <ul class="sidebar__group">

      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'product' %}" aria-expanded="false">
          <span style="margin-top: 1.5px">
            <img src="{% static 'img/product.svg'%}" alt="Icon description" width="20" height="20">
          </span>
          <span class="sidebar__title">Product</span>
        </a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'customer' %}" aria-expanded="false">
          <span style="margin-top: 2px">
            <img src="{% static 'img/customer.svg'%}" alt="Icon description" width="20" height="20">
          </span>
          <span class="sidebar__title">Customer</span>
        </a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'vendor' %}" aria-expanded="false">
          <span style="margin-top: 2.5px">
            <img src="{% static 'img/vendor.svg'%}" alt="Icon description" width="19" height="19">
          </span>
          <span class="sidebar__title">Vendor</span>
        </a>
      </li>
      
    </ul>
    
    
    
    <ul class="sidebar__group">

      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'quotation' %}" aria-expanded="false">
          <span style="margin-top: 3.5px">
            <img src="{% static 'img/quotation.svg'%}" alt="Icon description" width="18" height="18">
          </span>
          <span class="sidebar__title">Quotation</span>
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'salesOrder' %}" aria-expanded="false">
          <span style="margin-top: 3.5px">
            <img src="{% static 'img/Sales Order.svg'%}" alt="Icon description" width="18" height="18">
          </span>
          <span class="sidebar__title">salesOrder</span>
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'deliveryNote' %}" aria-expanded="false">
          <span style="margin-top: 3.5px">
            <img src="{% static 'img/deliveryNote.svg'%}" alt="Icon description" width="18" height="18">
          </span>
          <span class="sidebar__title">Delivery Note</span>
        </a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'purchaseOrder' %}" aria-expanded="false">
          <span style="margin-top: 3.5px">
            <img src="{% static 'img/purchaseOrder.svg'%}" alt="Icon description" width="18" height="18">
          </span>
          <span class="sidebar__title">Purchase Order</span>
        </a>
      </li>

    </ul>



    <ul class="sidebar__group">

      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'sales' %}" aria-expanded="false">
          <span style="margin-top: 3.5px">
            <img src="{% static 'img/sales.svg'%}" alt="Icon description" width="20" height="20">
          </span>
          <span class="sidebar__title">Sales</span>
        </a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'purchase' %}" aria-expanded="false">
          <span style="margin-top: 1.5px">
            <img src="{% static 'img/purchase.svg'%}" alt="Icon description" width="20" height="20">
          </span>
          <span class="sidebar__title">Purchase</span>
        </a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'salesReturn' %}" aria-expanded="false">
          <span style="margin-top: 1.5px">
            <img src="{% static 'img/sales-return.svg'%}" alt="Icon description" width="20" height="20">
          </span>
          <span class="sidebar__title">Sales Return</span>
        </a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'purchaseReturn' %}" aria-expanded="false">
          <span style="margin-top: 3.5px">
            <img src="{% static 'img/purchase-return.svg'%}" alt="Icon description" width="17" height="17">
          </span>
          <span class="sidebar__title">Purchase Return</span>
        </a>
      </li>

    </ul>



    <ul class="sidebar__group">

      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'payment' %}" aria-expanded="false">
          <span style="margin-top: 3.5px">
            <img src="{% static 'img/payment.svg'%}" alt="Icon description" width="20" height="20">
          </span>
          <span class="sidebar__title">Payment</span>
        </a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="{% url 'receipt' %}" aria-expanded="false">
          <span style="margin-top: 1.5px">
            <img src="{% static 'img/receipt.svg'%}" alt="Icon description" width="20" height="20">
          </span>
          <span class="sidebar__title">Receipt</span>
        </a>
      </li>


    </ul>
  <!-- End Sidebar navigation -->
</aside>
