{% extends 'main-template.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<form method="POST" class="form__form" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form__content">
    <h1>Category</h1>
    <div class="form__btn-add-edit">
      <button type="button" class="btn-add-edit" onclick="location.href='{% url 'category_add' %}'">Add</button>
      <button type="button" class="btn-add-edit" onclick="location.href='{% url 'category_edit' values.id  %}'">Edit</button>
      <button type="button" class="btn-add-edit" onclick="message_box('Are you sure you want to delete this category?', 'category_delete', {{values.id}})">Delete</button>
    </div>
    <div class="form__grp">
      <div class="floating-input-group">
        {{ form.category_code|add_class:form.disabled_class }}
        <label class="floating-label">Category Code</label>
      </div>
        <div class="floating-input-group">
          {{ form.type|add_class:form.disabled_class }}
          <label class="floating-label">Type</label>
        </div>
      </div>
      <div class="floating-input-group">
        {{ form.category_name|add_class:form.disabled_class }}
        <label class="floating-label">Category Name</label>
      </div>
        <div class="floating-input-group">
          {{ form.vat_rate|add_class:form.disabled_class }}
          <label class="floating-label">Vat Rate</label>
        </div>

    <div class="form__btn-move">
      <button type="button" class="btn-move" onclick="location.href='{% url 'category_move_first' %}'"  {% if not values.prev %}disabled{% endif %}>First</button>
      <button type="button" class="btn-move" onclick="location.href='{% url 'category_move_previous' values.id %}'"  {% if not values.prev %}disabled{% endif %}>Previous</button>
      <button type="button" class="btn-move" onclick="location.href='{% url 'category_find' %}'"  {% if not values.find %}disabled{% endif %}>Find</button>
      <button type="button" class="btn-move" onclick="location.href='{% url 'category_move_next' values.id %}'"  {% if not values.next %}disabled{% endif %}>Next</button>
      <button type="button" class="btn-move" onclick="location.href='{% url 'category_move_last' %}'"  {% if not values.next %}disabled{% endif %}>Last</button>
    </div>
  </div>
</form>
{% endblock content %}