{% include 'login-template.html' %}
{% include 'navbar.html' %}

<div class="home__body">
    <div class="home__content">
        <h1 class="home__content_title">Home</h1>
        <a href="{% url 'category' %}">Category</a>
        <a href="{% url 'salesman' %}">Salesman</a>
        <br>
        <a href="{% url 'product' %}">Product</a>
        <a href="{% url 'customer' %}">Customer</a>
        <a href="{% url 'vendor' %}">Vendor</a>
        <br>
        <a href="{% url 'quotation' %}">Quotation</a>
        <a href="{% url 'salesOrder' %}">Sales Order</a>
        <a href="{% url 'deliveryNote' %}">Delivery Note</a>
        <a href="{% url 'purchaseOrder' %}">Purchase Order</a>
        <br>
        <a href="{% url 'sales' %}">Sales</a>
        <a href="{% url 'purchase' %}">Purchase</a>
        <a href="{% url 'salesReturn' %}">Sales Return</a>
        <a href="{% url 'purchaseReturn' %}">Purchase Return</a>
        <br>
        <a href="{% url 'payment' %}">Payment</a>
        <a href="{% url 'receipt' %}">Receipt</a>
    </div>
</div>