.form__form {
    width: 101%; /* Move the div to the right by 30% */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    margin-left: -1rem;
}

.form__form h1 {
    width: 100%;
    margin-left: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    opacity: 0.7;
}

.form__content {
    height: auto;
    display: flex;
    flex-direction: column;
}

.form__form input {
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    height: 2rem;
    padding: 0 0.5rem;
    margin-top: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    outline: none;
}

.form__size-s {
    width: 200px;
}

.form__form select {
    margin-top: 1rem;
    border: 1px solid #e2e8f0;
    opacity: 0.5;
    padding: 0 1rem;
    width: 200px;
    height: 2rem;
    outline: none;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
}

.form__size-l {
    width: 662px;
}

.form__form textarea {
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    height: 4rem;
    width: 662px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    outline: none;
}

.form__error {
    color: #ed0f0f5f;
    margin-left: 15rem;
    font-weight: 800;
}

.form__grp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 680px;
}

.floating-input-group {
    position: relative;
    margin-right: 20px; /* Adjust this margin as needed */
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    font-size: 13px;
    color: #888;
}

/* .floating-input:focus + .floating-label,
.floating-input:valid + .floating-label,
.floating-input:read-only + .floating-label {
    top: 7px;
} */


/* .floating-input:focus + .floating-label,
.floating-input:valid + .floating-label {
    top: 7px;
} */

.floating-input-select:focus + .floating-label-select ,
.floating-input-select:valid + .floating-label-select {
    top: 5px;
}

.floating-input:focus + .floating-label,
input:not(:placeholder-shown) + .floating-label,
textarea:not(:placeholder-shown) + .floating-label,
select:valid + .floating-label {
    top: 7px;
}


input[type="select"]:valid + .floating-label {
    top: 7px;
}

.auto-label {
    width: 457px;
    background-color: #f5f5f5;
    margin-left: -1rem;
}

.joined-input {
    gap: 0;
    justify-content: flex-start;
}

.uppercase-only {
    text-transform: uppercase;
}

/* Buttons */

/* .form__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem 0;

    width: 660px;
} */

.btn-add-edit,
.btn-move,
.form__btn-submit,
.form__btn-cancel,
.form-list__btn-submit,
.form__btn-addItem {
    padding: 0.2rem;
    /* margin: 1rem; */
    border-radius: 5px;
    width: 70px;
    background: #dad6d65f;
    outline: none;
}

.btn-add-edit,
.btn-move {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.form__btn-move {
    margin-left: 9rem;
}

.form__btn-submit,
.form__btn-cancel,
.form-list__btn-submit,
.form__btn-addItem {
    width: 150px;
    cursor: pointer;
}

.form__btn-submit {
    margin-left: 10rem;
}

.form__btn-cancel {
    margin-left: 1rem;
    margin-top: 1rem;
}

.form__btn-addItem {
    margin-left: 32rem;
    margin-top: 1rem;
}

.btn-add-edit:hover,
.btn-move:hover,
.form__btn-submit:hover, 
.form__btn-cancel:hover,
.form-list__btn-submit:hover,
.form__btn-addItem:hover,
.btn-add-edit:focus,
.btn-move:focus,
.form__btn-submit:focus, 
.form__btn-cancel:focus,
.form-list__btn-submit:focus,
.form__btn-addItem:focus {
    color: #fff;
    background: #430fed5f;
}

.disabled-input {
    pointer-events: none;
    background-color: #f5f5f5; /* Change this to the desired disabled look */
}

.form__btn-sub-cancel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.btn-move:disabled {
    background: #8582825f;
    color: #000;
    cursor: auto;
}

.form-list__table {
    width: 98%;
    margin-top: 1rem;
}

.form__tbl {
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 1rem;
    width: 50rem;
}

th {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

/* .form__dialog-modal {
    margin: auto;
}


.dialog-modal {
    height: 15vh;
    width: 30vw;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 18px;
    text-align: center;

    z-index: 100;
    background: #f7f4f4;
    overflow: hidden;
} */

#formSearch {
    border-radius: 5px;
    border: 1px solid #dbcbcb;
    width: 85%;
    height: 2rem;
}

.cmbFormSearch {
    width: 11rem;
    height: 2rem;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.autocomplete-suggestions {
    position: absolute;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 73%;
    background: #fff;
}

.autocomplete-suggestions div {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-suggestions div:hover {
    background-color: #f2f2f2;
}